/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url('Images/cover-image\ .png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header Styles */
header {
  background-color: #ffffff;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.header-logo .logo-img {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #00590f;
  text-decoration: none;
  font-size: 16px;
  position: relative; /* Add relative positioning */
}

nav ul li a:hover {
  /* Add animation to the underline */
  text-decoration: none;
}

nav ul li a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background-color: #00590f;
  animation-name: underline;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  background-color: inherit;
  color: #00590f;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #35a333;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
  padding: 5px 0;
}

.dropdown-content li a {
  color: #ffffff;
  font-size: 16px;
  display: block;
  text-align: center; /* Center the wordings */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*-------------------------------------------------Heading Section----------------------------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 100px; /* Increase the gap value for more spacing */
  padding: 20px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #313131;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #00000080;
  margin: 0;
}

.subheading {
  font-size: 20px;
  font-weight: bold;
  color: #313131;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-------------------------------------------------About Section----------------------------------------------------- */

.green-box {
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-section {
  color: white;
  flex: 1;
  margin-right: 20px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.image-section img {
  max-width: 100%;
  max-height: 400px; /* Increase the max-height value for larger images */
  margin: 0 auto;
  border-radius: 10px; /* Adjust the border-radius value for rounder corners */
}

/*------------------------------------------------- Visiting Hours Section ----------------------------------------------------- */

.visiting-hours-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  color: #333;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visiting-hours-box h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #555;
  font-size: 24px;
}

.visiting-hours-box p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}



/*------------------------------------------------- Gallery Section ----------------------------------------------------- */

.gallery-container {
text-align: center;
}

.gallery-box {
border: 4px solid green;
border-radius: 15px;
padding: 15px;
display: inline-block;
max-width: 80%;
width: 100%;
}

.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
}

.gallery img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
position: relative;
z-index: 0;
}

.gallery img:hover {
transform: rotate(360deg);
z-index: 1;
}

.image-large {
grid-column: span 2;
height: 100%;
}


/*------------------------------------------------- Footer styles----------------------------------------------------- */
footer {
  background-color: #309849;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .about-us,
footer .quick-links,
footer .contact-us {
  flex-basis: calc(100% / 3);
  text-align: center;
}

footer h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #4fcb62;
}

footer p {
  margin-bottom: 10px;
}

footer .copyright {
  font-size: 12px;
  margin-top: 20px;
  position: relative;
}

footer .copyright::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff;
}

@media only screen and (max-width: 767px) {

  body{
    width: 100%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-logo {
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  nav ul li {
    padding: 5px;
  }

  footer{
    flex-direction: column;
    row-gap: 20px;
  }
}